.elf-search-table {
  padding: 16px;
  background-color: #fff;

  .elf-search-table__header {
    padding: 0;
    overflow: hidden;
  }

  .elf-search-table__body {
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;

    .el-pagination {
      padding: 16px 5px 0;
      text-align: right;
    }
  }

  .elf-search-table__actions {
    padding: 8px 0 12px 0;
  }
}

.elf-search-table__configure {
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    &::before {
      display: inline-block;
      content: " ";
      width: 4px;
      height: 14px;
      margin-right: 5px;
      background-color: #409eff;
    }
  }

  .el-checkbox,.flex {
    display: flex;
    align-items: flex-end;

    &.el-checkbox__label {
      flex:1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
